<h1>Stories</h1>

<% @stories.each do |story| %>
  <div class="story">
    <h2><%= link_to story.title, story.url %></h2>
    <p><%= story.preview %>
    <p><%= story.writer %>
  </div>
<% end %>

<p><%= paginate @stories %></p>

<p><%= link_to "Add a story", new_story_path %></p>
